<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
	<appSettings>
		<add key="template_esp" value="C:\Users\aquesada\Proyectos\.NET\CertificatesProject\CertificatesProject\template\Cert. asistencia Tecnofor Plantilla GENERAL v5 template.dotx"/>
		<add key="template_eng" value="C:\Users\aquesada\Proyectos\.NET\CertificatesProject\CertificatesProject\template\Cert. asistencia Tecnofor Plantilla GENERAL-inglés v3 template.dotx"/>
		<add key="pdfpath" value="C:\Users\aquesada\Proyectos\.NET\CertificatesProject\CertificatesProject\pdf\"/>
		<add key="csvpath" value="C:\Users\aquesada\Proyectos\.NET\CertificatesProject\CertificatesProject\csv\certificados.csv"/>
		<add key="smtp" value="smtp.office365.com"/>
		<add key="smtpuser" value="alvaro.quesada@tecnofor.es"/>
		<add key="smtppassword" value="Karont_91"/>
		<add key="emailfrom" value="alvaro.quesada@tecnofor.es"/>
		
	</appSettings>
</configuration>
